@page
@using PagedList;
@using ProjectPRN221.BusinessObject3;
@model ProjectPRN221.Pages.AdminModel
@{
    HttpContext context = Request.HttpContext;
    List<Role> listRoles = ViewData["listRoles"] as List<Role>;
    var roleOfAcc = ViewData["roleOfAcc"];

    var roles = ViewData["roles"] as IPagedList<Role>;
    var role = ViewData["role"] as Role;
    var totalRoles = ViewData["totalRoles"];

    var accs = ViewData["accs"] as IPagedList<Account>;
    var acc = ViewData["acc"] as Account;
    var totalAccs = ViewData["totalAccs"];

    var books = ViewData["books"] as IPagedList<Book>;
    var book = ViewData["book"] as Book;
    var totalBooks = ViewData["totalBooks"];

    var bookBorrows = ViewData["bookBorrows"] as IPagedList<BooksBorrow>;
    var lstAcc = ViewData["lstAcc"] as List<Account>;
    var lstBook = ViewData["lstBook"] as List<Book>;
    var bookBorrow = ViewData["bookBorrow"] as BooksBorrow;
    var totalBookBorrows = ViewData["totalBookBorrows"];

    var recentBorrow = ViewData["recentBorrow"] as IOrderedEnumerable<BooksBorrow>;
    var topBorrow = ViewData["topBorrow"] as Dictionary<string, int>;

}
@if(context.Session.GetString("UserRole") == "Admin")
{
    
<div id="model" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" style="display:none;">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Deactivate book</h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">Are you sure you want to deactivate your book? All of your data will be permanently removed. This action cannot be undone.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button onclick="redirectToDelete()" type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Deactivate</button>
                    <button onclick="closeModal()" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*End Model*@
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Library </title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <a href="/Index">
                <i class='bx bxl-c-plus-plus'></i>
                <span class="logo_name">Library</span>
            </a>
        </div>
        <ul class="nav-links">
            <li>
                <a href="Admin?mode=dashboard" class="active mt-10">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="Admin?mode=role">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Role</span>
                </a>
            </li>
            <li>
                <a href="Admin?mode=acc">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Account</span>
                </a>
            </li>
            <li>
                <a href="Admin?mode=book">
                    <i class='bx bx-book-alt'></i>
                    <span class="links_name">Book</span>
                </a>
            </li>
            <li>
                <a href="Admin?mode=bookborrow">
                    <i class='bx bx-coin-stack'></i>
                    <span class="links_name">BookBorrow</span>
                </a>
            </li>
            <li class="log_out">
                <a href="/Login">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                    @if (ViewData["mode"] == "dashboard" || ViewData["mode"] == null)
                    {
                        <span class="dashboard">Dashboard</span>
                    }
                    else if(ViewData["mode"] == "role")
                    {
                         <span class="dashboard">Role</span>
                    }
                    else if (ViewData["mode"] == "acc")
                    {
                        <span class="dashboard">Account</span>
                    }else if(ViewData["mode"] == "book")
                    {
                         <span class="dashboard">Book</span>
                    }
                    else if (ViewData["mode"] == "bookborrow")
                    {
                        <span class="dashboard">BookBorrow</span>
                    }
                </div>
            <div class="search-box">
                    <input id="searchInput" type="text" placeholder="Search...">
                    <i style="cursor:pointer;" onclick="redirectToSearch()" class='bx bx-search'></i>
            </div>
            <div onclick="redirectAccountDetail()" class="profile-details" style="cursor:pointer;">
                <span class="admin_name">Hello @context.Session.GetString("Email")</span>
            </div>
        </nav>
        
        @if (ViewData["mode"] == "dashboard" || ViewData["mode"] == null)
        {
            <div class="home-content">
                <div class="overview-boxes">
                    <div class="box">
                        <div class="right-side">
                            <div class="box-topic">Total Borrow</div>
                            @if(ViewData["totalBorrow"] != null)
                            {
                            <div class="number">@ViewData["totalBorrow"]</div>
                            }
                            <div class="indicator">
                                <i class='bx bx-up-arrow-alt'></i>
                                <span class="text">Up from yesterday</span>
                            </div>
                        </div>
                        <i class='bx bx-cart-alt cart'></i>
                    </div>
                    <div class="box">
                        <div class="right-side">
                            <div class="box-topic">Total Register</div>
                            @if(ViewData["totalAcc"] != null)
                            {
                            <div class="number">@ViewData["totalAcc"]</div>
                            }
                            <div class="indicator">
                                <i class='bx bx-up-arrow-alt'></i>
                                <span class="text">Up from yesterday</span>
                            </div>
                        </div>
                        <i class='bx bxs-cart-add cart two'></i>
                    </div>
                    <div class="box">
                        <div class="right-side">
                            <div class="box-topic">Total Book</div>
                            @if(ViewData["totalBook"] != null)
                            {
                            <div class="number">@ViewData["totalBook"]</div>
                            }
                            <div class="indicator">
                                <i class='bx bx-up-arrow-alt'></i>
                                <span class="text">Up from yesterday</span>
                            </div>
                        </div>
                        <i class='bx bx-cart cart three'></i>
                    </div>
                    <div class="box">
                        <div class="right-side">
                            <div class="box-topic">Total Return</div>
                            @if (ViewData["totalReturn"] != null)
                            {
                            <div class="number">@ViewData["totalReturn"]</div>
                            }
                            <div class="indicator">
                                <i class='bx bx-down-arrow-alt down'></i>
                                <span class="text">Down From Today</span>
                            </div>
                        </div>
                        <i class='bx bxs-cart-download cart four'></i>
                    </div>
                </div>

                <div class="sales-boxes">
                    <div class="recent-sales box">
                        <div class="title">Recent Borrow</div>
                        <div class="sales-details">
                            <ul class="details">
                                <li class="topic">Date Borrow</li>
                                @if(recentBorrow != null)
                                {
                                    @foreach (var i in @recentBorrow)
                                    {
                                        <li><a href="#">@i.DateBorrowed</a></li>
                                    }
                                }
                            </ul>
                            <ul class="details">
                                <li class="topic">Customer</li>
                                @if (recentBorrow != null)
                                {
                                    @foreach (var i in @recentBorrow)
                                    {
                                        <li><a href="#">@i.ReceivedBy</a></li>
                                    }
                                }
                                </ul>
                            <ul class="details">
                                <li class="topic">Date Due</li>
                                @if (recentBorrow != null)
                                {
                                    @foreach (var i in @recentBorrow)
                                    {
                                        <li><a href="#">@i.DueDate</a></li>
                                    }
                                }
                            </ul>
                            <ul class="details">
                                <li class="topic">Date Return</li>
                                @if (recentBorrow != null)
                                {
                                    @foreach (var i in recentBorrow)
                                    {
                                        <li><a href="#">@(
                                        i.DateReturn != null ? i.DateReturn.ToString() : "Haven't returned the book"
                                        )</a></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="button">
                            <a href="Admin?mode=bookborrow">See All</a>
                        </div>
                    </div>
                    <div class="top-sales box">
                        <div class="title">Top Borrow Book</div>
                        <ul class="top-sales-details">
                            @if(topBorrow != null)
                            {
                                 @foreach (var item in topBorrow)
                            {
                                <li>
                                    <a href="#">
                                        <img src="https://img.lovepik.com/photo/40007/5587.jpg_wh860.jpg" alt="">
                                        <span class="product">@item.Key</span>
                                    </a>
                                    <span class="price">@item.Value</span>
                                </li>
                            }   
                            }
                        </ul>
                    </div>
                </div>
                </div>
        }else if(ViewData["mode"] == "role")
        {
                <div class="home-content">
                <div class="search-container mb-3" style="display:flex; justify-content:space-between;">
                    <div class="ml-5">
                            <input style=" border: 1px solid #ACD3FF;" value="@ViewData["search"]" id="search-input" type="text" class="search-input" placeholder="Searching...">
                        <button onclick="searching(this, 'role')" class="search-button"><i class="fa-solid fa-magnifying-glass fa-beat-fade fa-lg" style="color: #ffffff;"></i></button>
                    </div>
                    
                        <div style="display:flex;">
                            <span class="hidden sm:block mr-5">
                                <button onclick="redirectToAdmin('createRole', null)" type="button" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                    <i class="fa-solid fa-circle-plus" style="color: #4838ca; margin:3px;"></i>
                                    Create
                                </button>
                            </span>
                        </div>

                </div>

                <div style="background-color:white;">
                    <table class="table border-collapse">
                            <thead style="background-color:#DBECFF;">
                            <tr style="border: 1px solid #ACD3FF;">
                                <th style="border: 1px solid #ACD3FF;" class="p-2">RoleID</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">RoleName</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in roles)
                            {
                                <tr>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.RoleId)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.RoleName)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">
                                        @if(item.RoleName != "Admin")
                                        {
                                            <button type="button" data-bookid="@item.RoleId" onclick="redirectToAdmin('editRole', this)" class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10 borrow-link">Edit</button>
                                            <button type="button" data-bookid="@item.RoleId" onclick="redirectToAdmin('deleteRole', this)" class="inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-xs font-medium text-pink-700 ring-1 ring-inset ring-pink-700/10">Delete</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                    <div class="flex flex-1 justify-between sm:hidden">
                        <a href="@Url.Page("Admin",  $"{@roles.PageNumber - 1}", new { page = @roles.PageNumber - 1 })" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>

                        <a href="@Url.Page("Admin", $"{@roles.PageNumber + 1}", new { page = @roles.PageNumber + 1 })" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>

                    </div>
                    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                        <div>
                            <p class="text-sm text-gray-700">
                                Showing
                                <span class="font-medium">@roles.PageNumber</span>
                                /
                                <span class="font-medium">@totalRoles</span>

                            </p>
                        </div>
                        <div>
                                @if (@roles.PageNumber == 1)
                                {
                                    <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                                        <span class="sr-only">Previous</span>
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                        </svg>
                                    </span>

                                }
                                else
                                {
                                    <a href="@Url.Page("Admin",  $"{@roles.PageNumber - 1}", new { page = @roles.PageNumber - 1, search = ViewData["search"], mode="role"  })" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                        <span class="sr-only">Previous</span>
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                        </svg>
                                    </a>
                                }

                                <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                                @for (int i = 1; i <= @roles.PageCount; i++)
                                {
                                    <a href="@Url.Page("Admin", $"{i}", new { page = @i, search = ViewData["search"], mode="role"  })" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">@i</a>
                                }

                                @if (@roles.PageNumber == @roles.PageCount)
                                {
                                    <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                                        <span class="sr-only">Next</span>
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                }
                                else
                                {
                                    <a href="@Url.Page("Admin",  $"{@roles.PageNumber + 1}", new { page = @roles.PageNumber + 1, search = ViewData["search"] , mode="role"  })" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                        <span class="sr-only">Next</span>
                                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                        </svg>
                                    </a>
                                }
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (ViewData["mode"] == "createRole")
        {
        <div class="home-content">
                <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
                    <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="mx-auto max-w-2xl text-center">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Role Information</h2>
                </div>
                <form method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
                    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                        <div>
                            <div class="mt-2.5">
                                <input asp-for="role.RoleId" hidden value="@(role != null ? role.RoleId : string.Empty)" type="text" name="RoleId" id="role-id" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                            <label for="role-name" class="block text-sm font-semibold leading-6 text-gray-900">Role name</label>
                            <div class="mt-2.5">
                                <input style=" border: 1px solid #ACD3FF;" asp-for="role.RoleName" required value="@(role != null ? role.RoleName : string.Empty)" type="text" name="RoleName" id="role-name" autocomplete="given-name" class="block w-full rounded-md px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        
                    </div>
                    <div class="mt-10">
                        @if (ViewData["createRoleSuss"] != null)
                        {
                            <span style="margin-bottom: 10px; text-align:center;" class="block w-full items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 show">Create role success</span>
                        }
                        @if (ViewData["updateRoleSuss"] != null)
                        {
                            <span style="margin-bottom: 10px; text-align:center;" class="block w-full items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 show">Update role success</span>
                        }
                            @if (ViewData["roleExist"] != null)
                        {
                            <span style="margin-bottom: 10px; text-align: center;" class="block w-full items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20 show">Role is exist</span>
                        }
                            <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                    </div>
                </form>
            </div>
        }else if(ViewData["mode"] == "acc")
        {
            <div class="home-content">
                <div class="search-container mb-3" style="display:flex; justify-content:space-between;">
                        <div class="ml-5">
                            <input style=" border: 1px solid #ACD3FF;" value="@ViewData["search"]" id="search-input" type="text" class="search-input" placeholder="Searching...">
                        <button onclick="searching(this, 'acc')" class="search-button"><i class="fa-solid fa-magnifying-glass fa-beat-fade fa-lg" style="color: #ffffff;"></i></button>
                    </div>

                </div>

                <div style="background-color:white;">
                    <table class="table border-collapse">
                            <thead style="background-color:#DBECFF;">
                            <tr style="border: 1px solid #ACD3FF;">
                                <th style="border: 1px solid #ACD3FF;" class="p-2">ID</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">Name</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">Email</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">RoleID</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">CreatedTime</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">UpdatedTime</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">Phone</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">Address</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">Gender</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">Status</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">Password</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in accs)
                            {
                                <tr>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.AccountId)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.RoleId)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.CreatedTime)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.UpdateTime)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.Phone)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.Address)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.Gender)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@item.Status</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">*****</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">
                                    @if(item.RoleId != 1)
                                    {
                                        <button type="button" data-bookid="@item.AccountId" onclick="redirectToAdmin('editAcc', this)" class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10 borrow-link">Edit</button>
                                        <button type="button" data-bookid="@item.AccountId" onclick="redirectToAdmin('deleteAcc', this)" class="inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-xs font-medium text-pink-700 ring-1 ring-inset ring-pink-700/10">Delete</button>
                                    }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                    <div class="flex flex-1 justify-between sm:hidden">
                        <a href="@Url.Page("Admin",  $"{@accs.PageNumber - 1}", new { page = @accs.PageNumber - 1 })" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>

                        <a href="@Url.Page("Admin", $"{@accs.PageNumber + 1}", new { page = @accs.PageNumber + 1 })" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>

                    </div>
                    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                        <div>
                            <p class="text-sm text-gray-700">
                                Showing
                                <span class="font-medium">@accs.PageNumber</span>
                                /
                                <span class="font-medium">@totalAccs</span>

                            </p>
                        </div>
                        <div>
                            @if (@accs.PageNumber == 1)
                            {
                                <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Previous</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                    </svg>
                                </span>

                            }
                            else
                            {
                                <a href="@Url.Page("Admin",  $"{@accs.PageNumber - 1}", new { page = @accs.PageNumber - 1, search = ViewData["search"], mode="acc"  })" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Previous</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            }

                            <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                            @for (int i = 1; i <= @accs.PageCount; i++)
                            {
                                <a href="@Url.Page("Admin", $"{i}", new { page = @i, search = ViewData["search"], mode="acc"  })" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">@i</a>
                            }

                            @if (@accs.PageNumber == @accs.PageCount)
                            {
                                <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Next</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                            }
                            else
                            {
                                <a href="@Url.Page("Admin",  $"{@accs.PageNumber + 1}", new { page = @accs.PageNumber + 1, search = ViewData["search"] , mode="acc"  })" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Next</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (ViewData["mode"] == "createAcc")
        {
            <div class="home-content">
                <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
                    <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="mx-auto max-w-2xl text-center">
                </div>
                <form method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
                    <div class="space-y-12">
                        <div class="border-b border-gray-900/10 pb-12">
                            <h2 class="text-base font-semibold leading-7 text-gray-900">Account Information</h2>

                            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                <input hidden asp-for="acc.AccountId" type="text" name="AccountId" id="account-id" autocomplete="given-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(acc != null ? acc.AccountId : string.Empty)">
                                <div class="sm:col-span-3">
                                    <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">First name</label>
                                    <div class="mt-2">
                                        <input style=" border: 1px solid #ACD3FF;" asp-for="acc.FirstName" type="text" name="firstName" required id="first-name" autocomplete="given-name" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(acc != null ? acc.FirstName : string.Empty)">
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Last name</label>
                                    <div class="mt-2">
                                        <input style=" border: 1px solid #ACD3FF;"  asp-for="acc.LastName" type="text" name="lastName" required id="last-name" autocomplete="family-name" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(acc != null ? acc.LastName : string.Empty)">
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                                    <div class="mt-2">
                                        <input disabled style=" border: 1px solid #ACD3FF;" asp-for="acc.Email" id="email" name="email" required type="email" autocomplete="email" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(acc != null ? acc.Email : string.Empty)">
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                                    <div class="mt-2">
                                        <input disabled style=" border: 1px solid #ACD3FF;" asp-for="acc.Password" type="password" required name="password" id="password" autocomplete="password" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(acc != null ? acc.Password.Trim() : string.Empty)">
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Phone</label>
                                    <div class="mt-2">
                                        <input disabled style=" border: 1px solid #ACD3FF;" asp-for="acc.Phone" type="text" name="phone" required id="phone" autocomplete="phone" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(acc != null ? acc.Phone : string.Empty)">
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Address</label>
                                    <div class="mt-2">
                                        <input style=" border: 1px solid #ACD3FF;" asp-for="acc.Address" type="text" name="address" id="address" required autocomplete="address" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(acc != null ? acc.Address : string.Empty)">
                                    </div>
                                </div>
                                <div class="sm:col-span-3">
                                    <label for="role" class="block text-sm font-medium leading-6 text-gray-900">Role</label>
                                    <div style=" border: 1px solid #ACD3FF;" class="mt-2">
                                        <select disabled id="role" name="roleid" autocomplete="role-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" asp-for="acc.RoleId" asp-items="@(new SelectList(listRoles, "RoleId", "RoleName", acc.RoleId))"></select>
                                    </div>
                                </div>
                                <div class="sm:col-span-3">
                                    <fieldset>
                                        <legend class="text-sm font-semibold leading-6 text-gray-900">Gender</legend>
                                        <div class="mt-6 space-y-6">
                                            <div class="flex items-center gap-x-3">
                                                <input id="male" name="gender" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" @(acc?.Gender == true ? "checked" : "") asp-for="account.Gender" value="true">
                                                <label for="male" class="block text-sm font-medium leading-6 text-gray-900">Male</label>

                                                <input id="female" name="gender" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600" @(acc?.Gender == false ? "checked" : "") asp-for="account.Gender" value="false">
                                                <label for="female" class="block text-sm font-medium leading-6 text-gray-900">Female</label>

                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-gray-900/10 pb-12">
                            <h2 class="text-base font-semibold leading-7 text-gray-900">Notifications</h2>
                            <p class="mt-1 text-sm leading-6 text-gray-600">We'll always let you know about important changes, but you pick what else you want to hear about.</p>
                        </div>
                    </div>

                    <div class="mt-6 flex items-center justify-end gap-x-6">
                            @if (ViewData["updateAccSuss"] != null)
                            {
                                <span style="margin-bottom: 10px; text-align:center;" class="block w-full items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 show">Update account success</span>
                            }
                        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                    </div>
                </form>
            </div>
        }
        else if (ViewData["mode"] == "book")
        {
            <div class="home-content">
                <div class="search-container mb-3" style="display:flex; justify-content:space-between;">
                        <div class="ml-5">
                            <input style=" border: 1px solid #ACD3FF;" value="@ViewData["search"]" id="search-input" type="text" class="search-input" placeholder="Searching...">
                        <button onclick="searching(this, 'book')" class="search-button"><i class="fa-solid fa-magnifying-glass fa-beat-fade fa-lg" style="color: #ffffff;"></i></button>
                    </div>

                    <div style="display:flex;">
                            <span class="hidden sm:block mr-5">
                            <button onclick="redirectToAdmin('createBook', null)" type="button" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                <i class="fa-solid fa-circle-plus" style="color: #4838ca; margin:3px;"></i>
                                Create
                            </button>
                        </span>
                    </div>

                </div>

                <div style="background-color:white;">
                    <table class="table border-collapse">
                        <thead style="background-color:#DBECFF;">
                            <tr style="border: 1px solid #ACD3FF;">
                                <th style="border: 1px solid #ACD3FF;" class="p-2">ID</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">Title</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">Author</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">PublicationDate</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">TotalCopies</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">AvailableCopies</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">ShelfLocation</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2">Image</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in books)
                            {
                                <tr>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.BookId)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.Author)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@item.PublicationDate.ToString("dd/MM/yyyy")</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.TotalCopies)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.AvailableCopies)</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">@Html.DisplayFor(modelItem => item.ShelfLocation)</td>
                                    <th style="border: 1px solid #ACD3FF;" class="p-2"><img width="100" height="100" src="@item.Image" /></th>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">
                                        <button type="button" data-bookid="@item.BookId" onclick="redirectToAdmin('editBook', this)" class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10 borrow-link">Edit</button>
                                        <button type="button" data-bookid="@item.BookId" onclick="redirectToAdmin('deleteBook', this)" class="inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-xs font-medium text-pink-700 ring-1 ring-inset ring-pink-700/10">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                    <div class="flex flex-1 justify-between sm:hidden">
                        <a href="@Url.Page("Admin",  $"{@books.PageNumber - 1}", new { page = @books.PageNumber - 1 })" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>

                        <a href="@Url.Page("Admin", $"{@books.PageNumber + 1}", new { page = @books.PageNumber + 1 })" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>

                    </div>
                    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                        <div>
                            <p class="text-sm text-gray-700">
                                Showing
                                <span class="font-medium">@books.PageNumber</span>
                                /
                                <span class="font-medium">@totalBooks</span>

                            </p>
                        </div>
                        <div>
                            @if (@books.PageNumber == 1)
                            {
                                <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Previous</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                    </svg>
                                </span>

                            }
                            else
                            {
                                <a href="@Url.Page("Admin",  $"{@books.PageNumber - 1}", new { page = @books.PageNumber - 1, search = ViewData["search"], mode="book"  })" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Previous</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            }

                            <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                            @for (int i = 1; i <= @books.PageCount; i++)
                            {
                                <a href="@Url.Page("Admin", $"{i}", new { page = @i, search = ViewData["search"], mode="book"  })" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">@i</a>
                            }

                            @if (@books.PageNumber == @books.PageCount)
                            {
                                <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Next</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                            }
                            else
                            {
                                <a href="@Url.Page("Admin",  $"{@books.PageNumber + 1}", new { page = @books.PageNumber + 1, search = ViewData["search"] , mode="book"  })" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Next</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (ViewData["mode"] == "createBook")
        {
            <div class="home-content">
                <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
                    <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="mx-auto max-w-2xl text-center">
                </div>
                <form method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
                    <div class="space-y-12">
                        <div class="border-b border-gray-900/10 pb-12">
                            <h2 class="text-base font-semibold leading-7 text-gray-900">Book Information</h2>

                            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                <div class="col-span-full" style="display:none;">
                                    <label for="id" class="block text-sm font-medium leading-6 text-gray-900">Id</label>
                                    <div class="mt-2">
                                        <input asp-for="book.BookId" type="text" name="BookId" id="BookId" autocomplete="BookId" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(book != null ? book.BookId : string.Empty)">
                                    </div>
                                </div>

                                <div class="col-span-full">
                                    <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                                    <div class="mt-2">
                                        <input style=" border: 1px solid #ACD3FF;" asp-for="book.Title" type="text" required name="title" id="title" autocomplete="title" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(book != null ? book.Title : string.Empty)">
                                    </div>
                                </div>

                                <div class="col-span-full">
                                    <label for="publicationDate" class="block text-sm font-medium leading-6 text-gray-900">Publication Date</label>
                                    <div class="mt-2">
                                        <input style=" border: 1px solid #ACD3FF;" asp-for="book.PublicationDate" type="text" name="PublicationDate" id="PublicationDate" autocomplete="PublicationDate" class="mb-10 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 datetimepicker" placeholder="Select date and time" value='@(book != null ? book.PublicationDate.ToString("yyyy-MM-dd HH:mm") : DateTime.Now.ToString("yyyy-MM-dd HH:mm"))'>
                                    </div>
                                </div>

                                <div class="col-span-full">
                                    <label for="author" class="block text-sm font-medium leading-6 text-gray-900">Author</label>
                                    <div class="mt-2">
                                        <input style=" border: 1px solid #ACD3FF;" asp-for="book.Author" type="text" required name="author" id="author" autocomplete="author" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(book != null ? book.Author : string.Empty)">
                                    </div>
                                </div>

                                <div class="col-span-full">
                                    <label for="image" class="block text-sm font-medium leading-6 text-gray-900">Image</label>
                                    <div class="mt-2">
                                        <input style=" border: 1px solid #ACD3FF;" asp-for="book.Image" type="text"  name="Image" id="Image" autocomplete="Image" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(book != null ? book.Image : string.Empty)">
                                    </div>
                                </div>

                                <div class="sm:col-span-2">
                                    <label for="total_copies" class="block text-sm font-medium leading-6 text-gray-900">Total copies</label>
                                    <div class="mt-2">
                                        <input style=" border: 1px solid #ACD3FF;" asp-for="book.TotalCopies" type="text" required name="totalcopies" id="total_copies" autocomplete="total_copies" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" inputmode="numeric" pattern="[0-9]*" value="@(book != null ? book.TotalCopies : string.Empty)">
                                    </div>
                                </div>

                                <div class="sm:col-span-2">
                                    <label for="available_copies" class="block text-sm font-medium leading-6 text-gray-900">Available copies</label>
                                    <div class="mt-2">
                                        <input style=" border: 1px solid #ACD3FF;" asp-for="book.AvailableCopies" type="text" required name="availablecopies" id="available_copies" autocomplete="available_copies" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" inputmode="numeric" pattern="[0-9]*" value="@(book != null ? book.AvailableCopies : string.Empty)">
                                    </div>
                                </div>

                                <div class="sm:col-span-2">
                                    <label for="shelf_location" class="block text-sm font-medium leading-6 text-gray-900">Shelf location</label>
                                    <div class="mt-2">
                                        <input style=" border: 1px solid #ACD3FF;" asp-for="book.ShelfLocation" type="text" required name="shelflocation" id="shelf_location" autocomplete="shelf_location" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" inputmode="numeric" pattern="[0-9]*" value="@(book != null ? book.ShelfLocation : string.Empty)">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="mt-6 flex items-center justify-end gap-x-6">
                        @if (ViewData["updateBookSuss"] != null)
                        {
                                <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 show">Update book success</span>
                            }
                        @if (ViewData["createBookSuss"] != null)
                        {
                            <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 show">Create book success</span>
                        }
                            @if (ViewData["totalLess"] != null)
                        {
                                <span style="margin-bottom: 10px; text-align: center;" class="block w-full items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20 show">Total book must be greater than available book</span>
                            }
                        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                    </div>
                </form>
            </div>
        }
        else if (ViewData["mode"] == "bookborrow")
        {
            <div class="home-content">
                <div class="search-container mb-3" style="display:flex; justify-content:space-between;">
                        <div class="ml-5">
                            <input style=" border: 1px solid #ACD3FF;" value="@ViewData["search"]" id="search-input" type="text" class="search-input" placeholder="Searching...">
                        <button onclick="searching(this, 'bookborrow')" class="search-button"><i class="fa-solid fa-magnifying-glass fa-beat-fade fa-lg" style="color: #ffffff;"></i></button>
                    </div>

                    <div style="display:flex;">
                            <span class="hidden sm:block mr-5">
                            <button onclick="redirectToAdmin('createBookBorrow', null)" type="button" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                                <i class="fa-solid fa-circle-plus" style="color: #4838ca; margin:3px;"></i>
                                Create
                            </button>
                        </span>
                    </div>

                </div>

                <div style="background-color:white;">
                    <table class="table border-collapse">
                        <thead style="background-color:#DBECFF;">
                            <tr style="border: 1px solid #ACD3FF;" >
                                <th style="border: 1px solid #ACD3FF;"  class="p-2">ID</th>
                                <th style="border: 1px solid #ACD3FF;"  class="p-2">AccountID</th>
                                <th style="border: 1px solid #ACD3FF;"  class="p-2">BookID</th>
                                <th style="border: 1px solid #ACD3FF;"  class="p-2">DateBorrowed</th>
                                <th style="border: 1px solid #ACD3FF;"  class="p-2">DueDate</th>
                                <th style="border: 1px solid #ACD3FF;"  class="p-2">DateReturn</th>
                                <th style="border: 1px solid #ACD3FF;"  class="p-2">ReceivedBy</th>
                                <th style="border: 1px solid #ACD3FF;"  class="p-2">Status</th>
                                <th style="border: 1px solid #ACD3FF;" class="p-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in bookBorrows)
                            {
                                <tr>
                                    <td style="border: 1px solid #ACD3FF;"  class="p-2">@Html.DisplayFor(modelItem => item.BookBorrowId)</td>
                                    <td style="border: 1px solid #ACD3FF;"  class="p-2">@Html.DisplayFor(modelItem => item.AccountId)</td>
                                    <td style="border: 1px solid #ACD3FF;"  class="p-2">@Html.DisplayFor(modelItem => item.BookId)</td>
                                    <td style="border: 1px solid #ACD3FF;"  class="p-2">@Html.DisplayFor(modelItem => item.DateBorrowed)</td>
                                    <td style="border: 1px solid #ACD3FF;"  class="p-2">@Html.DisplayFor(modelItem => item.DueDate)</td>
                                    <td style="border: 1px solid #ACD3FF;"  class="p-2">@Html.DisplayFor(modelItem => item.DateReturn)</td>
                                    <td style="border: 1px solid #ACD3FF;"  class="p-2">@Html.DisplayFor(modelItem => item.ReceivedBy)</td>
                                    <td style="border: 1px solid #ACD3FF;"  class="p-2">@item.Status</td>
                                    <td style="border: 1px solid #ACD3FF;" class="p-2">
                                        <button type="button" data-bookid="@item.BookBorrowId" onclick="redirectToAdmin('editBookBorrow', this)" class="inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10 borrow-link">Edit</button>
                                        <button type="button" data-bookid="@item.BookBorrowId" onclick="redirectToAdmin('deleteBookBorrow', this)" class="inline-flex items-center rounded-md bg-pink-50 px-2 py-1 text-xs font-medium text-pink-700 ring-1 ring-inset ring-pink-700/10">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                    <div class="flex flex-1 justify-between sm:hidden">
                        <a href="@Url.Page("Admin",  $"{@bookBorrows.PageNumber - 1}", new { page = @bookBorrows.PageNumber - 1 })" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>

                        <a href="@Url.Page("Admin", $"{@bookBorrows.PageNumber + 1}", new { page = @bookBorrows.PageNumber + 1 })" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>

                    </div>
                    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
                        <div>
                            <p class="text-sm text-gray-700">
                                Showing
                                <span class="font-medium">@bookBorrows.PageNumber</span>
                                /
                                <span class="font-medium">@totalBookBorrows</span>

                            </p>
                        </div>
                        <div>
                            @if (@bookBorrows.PageNumber == 1)
                            {
                                <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Previous</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                    </svg>
                                </span>

                            }
                            else
                            {
                                <a href="@Url.Page("Admin",  $"{@bookBorrows.PageNumber - 1}", new { page = @bookBorrows.PageNumber - 1, search = ViewData["search"], mode="bookborrow"  })" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Previous</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            }

                            <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                            @for (int i = 1; i <= @bookBorrows.PageCount; i++)
                            {
                                <a href="@Url.Page("Admin", $"{i}", new { page = @i, search = ViewData["search"], mode="bookborrow"  })" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">@i</a>
                            }

                            @if (@bookBorrows.PageNumber == @bookBorrows.PageCount)
                            {
                                <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Next</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                            }
                            else
                            {
                                <a href="@Url.Page("Admin",  $"{@bookBorrows.PageNumber + 1}", new { page = @bookBorrows.PageNumber + 1, search = ViewData["search"] , mode="bookborrow"  })" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                    <span class="sr-only">Next</span>
                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (ViewData["mode"] == "createBookBorrow")
        {
            <div class="home-content">
                <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
                    <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
                </div>
                <div class="mx-auto max-w-2xl text-center">
                </div>
                <form method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
                    <div class="space-y-12">
                        <div class="border-b border-gray-900/10 pb-12">
                            <h2 class="text-base font-semibold leading-7 text-gray-900">Book Borrow Information</h2>

                            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                                <div class="col-span-full" style="display:none;">
                                    <label for="BookBorrowId" class="block text-sm font-medium leading-6 text-gray-900">Id</label>
                                    <div class="mt-2">
                                        <input asp-for="bookBorrow.BookBorrowId" type="text" name="BookBorrowId" id="BookBorrowId" autocomplete="BookBorrowId" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(bookBorrow != null ? bookBorrow.BookBorrowId : string.Empty)">
                                    </div>
                                </div>

                                <div class="col-span-full">
                                    <label for="role" class="block text-sm font-medium leading-6 text-gray-900">Account</label>
                                    <div style=" border: 1px solid #ACD3FF;" class="mt-2">
                                            <select id="AccountId" name="AccountId" autocomplete="AccountId" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" asp-for="bookBorrow.AccountId" asp-items="@(new SelectList(lstAcc, "AccountId", "FirstName", bookBorrow != null ? bookBorrow.AccountId : "AccountId"))"></select>
                                    </div>
                                </div>

                                <div class="col-span-full">
                                    <label for="role" class="block text-sm font-medium leading-6 text-gray-900">Book</label>
                                    <div style=" border: 1px solid #ACD3FF;" class="mt-2">
                                            <select id="BookId" name="BookId" autocomplete="BookId" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" asp-for="bookBorrow.BookId" asp-items="@(new SelectList(lstBook, "BookId", "Title", bookBorrow != null ? bookBorrow.BookId : "BookId"))"></select>
                                    </div>
                                </div>

                                <div class="col-span-full">
                                    <label for="DateBorrowed" class="block text-sm font-medium leading-6 text-gray-900">DateBorrowed</label>
                                    <div class="mt-2">
                                        <input style="border: 1px solid #ACD3FF;" asp-for="bookBorrow.DateBorrowed" type="text" name="DateBorrowed" id="DateBorrowed" autocomplete="DateBorrowed" class="mb-10 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 datetimepicker" placeholder="Select date and time" value='@(bookBorrow != null ? bookBorrow.DateBorrowed.ToString("yyyy-MM-dd HH:mm") : DateTime.Now.ToString("yyyy-MM-dd HH:mm"))'>
                                    </div>
                                </div>

                                <div class="col-span-full">
                                    <label for="DueDate" class="block text-sm font-medium leading-6 text-gray-900">DueDate</label>
                                    <div class="mt-2">
                                        <input style="border: 1px solid #ACD3FF;"  asp-for="bookBorrow.DueDate" type="text" name="DueDate" id="DueDate" autocomplete="DueDate" class="mb-10 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 datetimepicker" placeholder="Select date and time" value='@(bookBorrow != null ? bookBorrow.DueDate.ToString("yyyy-MM-dd HH:mm") : DateTime.Now.ToString("yyyy-MM-dd HH:mm"))'>
                                            @if (ViewData["dueDateError"] != null)
                                            {
                                                <span style="margin-bottom: 10px; text-align: center;" class="block w-full items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20 show">Due date can not be less than borrowed Date</span>
                                            }
                                    </div>
                                </div>

                                <div class="col-span-full">
                                    <label for="DateReturn" class="block text-sm font-medium leading-6 text-gray-900">DateReturn</label>
                                    <div class="mt-2">
                                            <input style="border: 1px solid #ACD3FF;" asp-for="bookBorrow.DateReturn" type="text" name="DateReturn" id="DateReturn" autocomplete="DateReturn" class="mb-10 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 datetimepicker" placeholder="Select date and time" value='@(bookBorrow != null ? bookBorrow.DateReturn?.ToString("yyyy-MM-dd HH:mm") : null)'>
                                            @if (ViewData["dateReturnError"] != null)
                                            {
                                                <span style="margin-bottom: 10px; text-align: center;" class="block w-full items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20 show">Return date can not be less than borrowed Date</span>
                                            }
                                    </div>
                                </div>

                                <div class="col-span-full">
                                    <label for="ReceivedBy" class="block text-sm font-medium leading-6 text-gray-900">ReceivedBy</label>
                                    <div class="mt-2">
                                        <input style="border: 1px solid #ACD3FF;" asp-for="bookBorrow.ReceivedBy" type="text" name="ReceivedBy" id="ReceivedBy" required autocomplete="ReceivedBy" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(bookBorrow != null ? bookBorrow.ReceivedBy : string.Empty)">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="mt-6 flex items-center justify-end gap-x-6">
                        @if (ViewData["createBorrowSuss"] != null)
                        {
                            <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 show">Create book borrow success</span>
                        }
                        @if (ViewData["updateBorrowSuss"] != null)
                        {
                            <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 show">Update book borrow success</span>
                        }
                        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                    </div>
                </form>
            </div>
        }

    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        var bookIdDelete;
        var modeS;

        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
        function redirectToAdmin(mode, button){
            if (button !== null){
                bookIdDelete = button.getAttribute("data-bookid");

                if (mode == "editRole"){
                    window.location.href = "/Admin?mode=" + mode + "&id=" + bookIdDelete;
                }else if(mode == "editAcc"){
                    window.location.href = "/Admin?mode=" + mode + "&id=" + bookIdDelete;
                }else if(mode == "editBook"){
                    window.location.href = "/Admin?mode=" + mode + "&id=" + bookIdDelete;
                }else if(mode == "editBookBorrow"){
                    window.location.href = "/Admin?mode=" + mode + "&id=" + bookIdDelete;
                }
                else{
                    modeS = mode;
                    var modal = document.getElementById("model");
                    modal.style.display = "block";
                }

                
            }else{
                window.location.href = "/Admin?mode=" + mode;
            }
        }

        function redirectAccountDetail(){
            window.location.href = "/AccountDetail";
        }
        function searching(button, mode) {
            var searchInput = document.getElementById("search-input").value;
            var url = '/Admin?mode='+ mode + '&search=' + encodeURIComponent(searchInput);
            window.location.href = url;
        }

        function closeModal() {
            var modal = document.getElementById("model");
            modal.style.display = "none";
        }

        function redirectToDelete() {
            window.location.href = '/Admin?mode=' + modeS + '&idDelete=' + bookIdDelete;
        }

        function redirectToSearch() {
            var inputValue = document.getElementById("searchInput").value;
                window.location.href = '/Admin?mode=' + inputValue.toLowerCase();
        }

    </script>


</body>
</html>
}

<link rel="stylesheet" href = "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" >
<script src="https://kit.fontawesome.com/dcb7ffb312.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr" ></script>
<script>
    flatpickr('.datetimepicker', {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        // Các tùy chọn khác tùy theo nhu cầu của bạn
    });
</script>

