@page
@using PagedList;
@using ProjectPRN221.BusinessObject3;
@model ProjectPRN221.Pages.BookDetailModel
@{
    HttpContext context = Request.HttpContext;
    var book = ViewData["book"] as Book;
    var totalComment = ViewData["totalComment"];
    var PagedComments = ViewData["PagedComments"] as IPagedList<Comment>;
    var error = ViewData["error"];
}
    <div id="model" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" style="display:none;">

        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

        <div class="fixed inset-0 z-10 overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                                <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                </svg>
                            </div>
                            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                                <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Deactivate comment</h3>
                                <div class="mt-2">
                                    <p class="text-sm text-gray-500">Are you sure you want to deactivate your comment? All of your data will be permanently removed. This action cannot be undone.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        <button onclick="redirectToDelete()" type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Deactivate</button>
                        <button onclick="closeModal()" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*End Model*@
<div class="relative isolate px-6 pt-14 lg:px-8">

    <div class="relative overflow-hidden bg-white" style="margin-top:65px;">
        <div class="bg-white">
            <div class="pt-6">

                <!-- Image gallery -->
                <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
                    <div class="aspect-h-4 aspect-w-3 hidden overflow-hidden rounded-lg lg:block">
                        <img src="@book.Image" alt="Two each of gray, white, and black shirts laying flat." class="h-full w-full object-cover object-center">
                    </div>
                </div>

                <!-- Product info -->
                <div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
                    <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
                        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">@book.Title</h1>
                    </div>

                    <!-- Options -->
                    <div class="mt-4 lg:row-span-3 lg:mt-0">
                        <h2 class="sr-only">Book information</h2>
                        <!-- Reviews -->
                        <div class="mt-6">
                            <h3 class="sr-only">Reviews</h3>
                            <div class="flex items-center">
                                <div class="flex items-center">
                                    <i class="fa-sharp fa-regular fa-pen-to-square"></i>
                                </div>
                                <p class="sr-only">4 out of 5 stars</p>
                                <a href="#" class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500">@totalComment reviews</a>
                            </div>
                        </div>

                        <form method="post" class="mt-10">
                            <!-- Colors -->
                            <div>
                                <div class="alert alert-primary" role="alert">
                                    View all reivews
                                </div>


                                <fieldset class="code-fieldset">
                                    <div class="code-content">
                                        @foreach (var item in PagedComments)
                                        {
                                            <div class="code-row" style="border-bottom: 1px dotted  gray;">
                                                <p class="code-author">@item.Account.FirstName @item.Account.LastName</p><span><i>(@item.DateComment)</i></span>
                                                <p class="code-comment">@item.Content</p>
                                                    @if (context.Session.GetString("UserRole") == "Manager")
                                                    {
                                                        <button data-bookid="@item.CommentId" type="button" onclick="redirectToComment(this)" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-red-600 px-8 py-2 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 w-24">Delete</button>
                                                    }
                                            </div>
                                        }
                                    </div>
                                </fieldset>

                            </div>

                            <!-- Sizes -->
                            <div class="mt-10">
                                <div>
                                    <p class="text-sm text-gray-700">
                                        Showing
                                        <span class="font-medium">@PagedComments.PageNumber</span>
                                        /
                                        <span class="font-medium">@PagedComments.PageCount</span>

                                    </p>
                                </div>
                                <div>
                                    <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">

                                            @if (@PagedComments.PageNumber == 1)
                                            {
                                                <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                                                    <span class="sr-only">Previous</span>
                                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                                    </svg>
                                                </span>

                                            }
                                            else
                                            {
                                                <a href="@Url.Page("BookDetail",  $"{PagedComments.PageNumber - 1}", new { page = PagedComments.PageNumber - 1, bookId = book.BookId })" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                                    <span class="sr-only">Previous</span>
                                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                                    </svg>
                                                </a>
                                            }

                                            <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                                            @for (int i = 1; i <= PagedComments.PageCount; i++)
                                            {
                                                <a href="@Url.Page("BookDetail", $"{i}", new { page = @i, bookId = book.BookId })" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">@i</a>
                                            }

                                            @if (PagedComments.PageNumber == PagedComments.PageCount)
                                            {
                                                <span class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 focus:z-20 focus:outline-offset-0">
                                                    <span class="sr-only">Next</span>
                                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                                    </svg>
                                                </span>
                                            }
                                            else
                                            {
                                                <a href="@Url.Page("BookDetail",  $"{PagedComments.PageNumber + 1}", new { page = @PagedComments.PageNumber + 1, bookId = book.BookId })" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                                                    <span class="sr-only">Next</span>
                                                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                                    </svg>
                                                </a>
                                            }
                                    </nav>
                                </div>
                            </div>
                            @if (context.Session.GetString("UserRole") == "Student")
                            {
                                <div class="mt-2">
                                <input asp-for="comment.BookId" type="text" name="BookId" id="BookId" autocomplete="BookId" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" style="display:none;" value="@book.BookId">
                                <input asp-for="comment.Content" type="text" name="Content" id="Content" autocomplete="Content" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                                @if (error != null)
                                {
                                <span style="margin-bottom: 10px; text-align:center;" class="block w-full items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20 show">@error</span>
                                }
                                <button type="submit" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Comment</button>
                            }
                        </form>
                    </div>

                    <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
                        <!-- Description and details -->
                        <div>
                            <h3 class="sr-only">Description</h3>

                            <div class="space-y-6">
                                <p class="text-base text-gray-900">Author: @book.Author</p>
                            </div>
                        </div>

                        <div class="mt-10">
                            <h3 class="text-sm font-medium text-gray-900">Highlights</h3>

                            <div class="mt-4">
                                <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
                                    <li class="text-gray-400"><span class="text-gray-600">Unique Handcrafted Storytelling</span></li>
                                    <li class="text-gray-400"><span class="text-gray-600">Vibrant and Captivating Imagery</span></li>
                                    <li class="text-gray-400"><span class="text-gray-600">Multifaceted Characters</span></li>
                                    <li class="text-gray-400"><span class="text-gray-600">Gripping Plot and Unpredictable Twists</span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="mt-10">
                            <h2 class="text-sm font-medium text-gray-900">Description</h2>

                            <div class="mt-4 space-y-6">
                                <p class="text-sm text-gray-600">@book.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<style>
    .code-fieldset {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin-top: 20px;
    }

    .code-legend {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .code-content {
        display: flex;
        flex-direction: column;
    }

    .code-row {
        margin-bottom: 10px;
    }

    .code-author {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .code-comment {
        margin-bottom: 0;
    }
</style>

    <script>
        var commentIdDelete;
        function redirectToComment(button) {
            commentIdDelete = button.getAttribute("data-bookid");
            var modal = document.getElementById("model");
            modal.style.display = "block";
        }

        function redirectToDelete() {
            window.location.href = '/BookDetail?bookId=@book.BookId&commentIdDelete=' + commentIdDelete;
        }

        function closeModal() {
            var modal = document.getElementById("model");
            modal.style.display = "none";
        }
    </script>
