@page
@using ProjectPRN221.BusinessObject3;
@model ProjectPRN221.Pages.ManagerModel
@{
    var book = ViewData["book"] as Book;
    HttpContext context = Request.HttpContext;
}
@if (context.Session.GetString("UserRole") == "Manager")
{
    <div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
        <form method="POST">
            <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base font-semibold leading-7 text-gray-900">Book Information</h2>

                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="col-span-full" style="display:none;">
                            <label for="id" class="block text-sm font-medium leading-6 text-gray-900">Id</label>
                            <div class="mt-2">
                                <input style=" border: 1px solid #ACD3FF;" asp-for="book.BookId" type="text" name="BookId" id="BookId" autocomplete="BookId" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(book != null ? book.BookId : string.Empty)">
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="title" class="block text-sm font-medium leading-6 text-gray-900">Title</label>
                            <div class="mt-2">
                                <input style=" border: 1px solid #ACD3FF;" asp-for="book.Title" type="text" required name="title" id="title" autocomplete="title" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(book != null ? book.Title : string.Empty)">
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="publicationDate" class="block text-sm font-medium leading-6 text-gray-900">Publication Date</label>
                            <div class="mt-2">
                                <input style=" border: 1px solid #ACD3FF;" asp-for="book.PublicationDate" type="text" name="PublicationDate" id="PublicationDate" autocomplete="PublicationDate" class="mb-10 block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 datetimepicker" placeholder="Select date and time" value='@(book != null ? book.PublicationDate.ToString("yyyy-MM-dd HH:mm") : DateTime.Now.ToString("yyyy-MM-dd HH:mm"))'>
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="author" class="block text-sm font-medium leading-6 text-gray-900">Author</label>
                            <div class="mt-2">
                                <input style=" border: 1px solid #ACD3FF;" asp-for="book.Author" type="text" required name="author" id="author" autocomplete="author" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(book != null ? book.Author : string.Empty)">
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="image" class="block text-sm font-medium leading-6 text-gray-900">Image</label>
                            <div class="mt-2">
                                <input style=" border: 1px solid #ACD3FF;" asp-for="book.Image" type="text" name="Image" id="image" autocomplete="image" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(book != null ? book.Image : string.Empty)">
                            </div>
                        </div>

                        <div class="col-span-full">
                            <label for="description" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                            <div class="mt-2">
                                <input style=" border: 1px solid #ACD3FF;" asp-for="book.Description" type="text" name="Description" id="Description" autocomplete="Description" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" value="@(book != null ? book.Description : string.Empty)">
                            </div>
                        </div>

                        <div class="sm:col-span-2">
                            <label for="total_copies" class="block text-sm font-medium leading-6 text-gray-900">Total copies</label>
                            <div class="mt-2">
                                <input style=" border: 1px solid #ACD3FF;" asp-for="book.TotalCopies" type="text" required name="totalcopies" id="total_copies" autocomplete="total_copies" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" inputmode="numeric" pattern="[0-9]*" value="@(book != null ? book.TotalCopies : string.Empty)">
                            </div>
                        </div>

                        <div class="sm:col-span-2">
                            <label for="available_copies" class="block text-sm font-medium leading-6 text-gray-900">Available copies</label>
                            <div class="mt-2">
                                <input style=" border: 1px solid #ACD3FF;" asp-for="book.AvailableCopies" type="text" required name="availablecopies" id="available_copies" autocomplete="available_copies" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" inputmode="numeric" pattern="[0-9]*" value="@(book != null ? book.AvailableCopies : string.Empty)">
                            </div>
                        </div>

                        <div class="sm:col-span-2">
                            <label for="shelf_location" class="block text-sm font-medium leading-6 text-gray-900">Shelf location</label>
                            <div class="mt-2">
                                <input style=" border: 1px solid #ACD3FF;" asp-for="book.ShelfLocation" type="text" required name="shelflocation" id="shelf_location" autocomplete="shelf_location" class="block w-full rounded-md py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" inputmode="numeric" pattern="[0-9]*" value="@(book != null ? book.ShelfLocation : string.Empty)">
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                @if (ViewData["infor"] == "updatesuss")
                {
                    <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 show">Updated success</span>
                }
                @if (ViewData["infor"] == "insertsuss")
                {
                    <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 show">Inserted success</span>
                }
                @if (ViewData["oversize"] == "oversize")
                {
                    <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20 show">Available copies can not greater than total book</span>
                }
                <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
            </div>
        </form>
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr('.datetimepicker', {
            enableTime: true,
            dateFormat: "Y-m-d H:i",
            // Các tùy chọn khác tùy theo nhu cầu của bạn
        });
    </script>
}


